<div class="card">
  <a href="#" class="card__link-add" title="Agregar al carrito" id="producto-{{id}}" data-id="{{id}}">Agregar</a>
  <article class="card__article">
    <div class="card__image-container">
      <img src="{{image}}" alt="{{shortDescription}}" title="{{name}}" class="card__image">
    </div>
    <div class="card__content">
      <h2 class="card__heading">{{name}}</h2>
      <div class="card__description">
        <p>{{shortDescription}}</p>
      </div>
      <div class="card__price">
        <p>$<span class="card__price__number">{{price}}</span></p>
      </div>
    </div>
  </article>
</div>